@import "../../../../../styles.scss";

.month-year-picker {
    display: flex;
    list-style: none;

    li {

        margin: 0 5px;

        &.disabled .page-link,
        .page-link {
            background: transparent;
            border: 0;
            color: $gray-dark;
            border-radius: $border-radius-large;
            display: flex;
            align-items: center;
            justify-content: center;
            &:focus {
                box-shadow: none;
            }
            &:hover {
                background: rgba(black, .05);
            }
        }
    
        &.active .page-link {
            color: white;
            background: $green-400;
        }

    }
}