<div class="sign-up">
    <div class="card d-flex align-items-center">
        <h1 class="h3 mb-3">Please sign up</h1>
        <form [formGroup]="signUpForm">
            <div class="container">
                <div class="form-group row" [class.is-invalid]="submitted && signUpForm.controls.email.errors?.required || signUpForm.controls.email.errors?.email">
                    <label for="email_address" class="col-md-4 col-form-label col-form-label-lg text-md-right">E-mail</label>
                    <div class="col-md-8">
                        <input type="text" formControlName="email" id="email_address" class="form-control" name="email-address" required autofocus>
                        <span *ngIf="signUpForm.controls.email.errors?.required">
                            Required.
                        </span>
                        <span *ngIf="signUpForm.controls.email.errors?.email">
                            Invalid.
                        </span>
                    </div>
                </div>
                <div class="form-group row" [class.is-invalid]="submitted && signUpForm.controls.username.errors?.required">
                    <label for="username" class="col-md-4 col-form-label col-form-label-lg text-md-right">Username</label>
                    <div class="col-md-8">
                        <input type="text" formControlName="username" id="username" class="form-control" required autofocus>
                        <span>
                            Required.
                        </span>
                    </div>
                </div>
                <div class="form-group row" [class.is-invalid]="submitted && signUpForm.controls.name.errors?.required">
                    <label for="name" class="col-md-4 col-form-label col-form-label-lg text-md-right">Name</label>
                    <div class="col-md-8">
                        <input type="text" formControlName="name" id="name" class="form-control" required autofocus>
                        <span>
                            Required.
                        </span>
                    </div>
                </div>
                <div class="form-group row" [class.is-invalid]="submitted && signUpForm.controls.password.errors?.required">
                    <label for="password" class="col-md-4 col-form-label col-form-label-lg text-md-right">Password</label>
                    <div class="col-md-8">
                        <input type="password" formControlName="password" id="password" class="form-control" name="password" required>
                        <span>
                            Required.
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <button class="btn btn-success" (click)="signUp()">Sign Up</button>
                    <a class="btn btn-link" routerLink="/login">Log In</a>
                </div>
            </div>
        </form>
    </div>
</div>