<app-header></app-header>
<div class="container-fluid pt-5 pb-5">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Expenses</h4>
                </div>
                <div class="card-body">
                    <app-expense-list
                        [expenses]="expenses"
                        (sortChange)="updateSort($event)"
                        (editExpense)="editExpense($event)"
                    ></app-expense-list>
                </div>
                <div class="card-footer">
                    <ngb-pagination 
                        [collectionSize]="size" 
                        [page]="page + 1"
                        aria-label="Default pagination"
                        [rotate]="true"
                        [pageSize]="pageSize"
                        (pageChange)="pageChange($event)"
                    ></ngb-pagination>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed">
        <button type="button" class="btn btn-success btn-round btn-lg" (click)="addExpense()"><i class="fas fa-plus"></i></button>
    </div>
</div>



            
