.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 30px;
    border-radius: $border-radius-large;
    color: $gray-dark;
    background: $white-color;
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);

    .card-header {
        margin: 0px 15px 0;
        padding: 0;
        border-radius: $border-radius-base;
        margin-top: -20px;
        padding: 15px;

        &-success {
            background: linear-gradient(60deg, $green-400, $green-600);
            @include shadow-big-color($brand-success);
        }

        .card-title {
            margin-bottom: 3px;
            color: $white-color;
            margin-top: 0;
        }
    }

    .card-body {
        padding: $padding-card-body-y $padding-card-body-x;
    }
}