$white-color: #fff !default;

$gray-lighter: rgba($black, 0.12) !default;
$gray-light: #999 !default;
$gray-alpha: .54 !default;
$gray: #555 !default; // spec color
$gray-dark: rgba($black, 0.87) !default;

$border-radius-base: 3px !default;
$border-radius-small: 2px !default;
$border-radius-large: 6px !default;
$border-radius-huge: 10px !default;
$border-radius-label: 12px !default;
$border-radius-extreme: 30px !default;

$padding-card-body-y: 0.9375rem !default;
$padding-card-body-x: 1.875rem !default;

$green-400: #66bb6a !default;
$green-500: #4caf50 !default;
$green-600: #43a047 !default;

$brand-success: $green-500 !default;

$font-size-h1:                 3.3125rem;
$font-size-h2:                 2.25rem !default;
$font-size-h3:                 1.5625rem;
$font-size-h4:                 1.125rem !default;
$font-size-h5:                 1.0625rem !default;
$font-size-h6:                 0.75rem !default;
$font-paragraph:               14px !default;
$font-size-navbar:             16px !default;
$font-size-small:              12px !default;

$font-weight-light: 300 !default;


$bmd-table-header-font-size: .95rem;

@mixin shadow-big-color($color){
    // new box shadow optimized for Tablets and Phones
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, .14),
                0 7px 10px -5px rgba($color, 0.4)
}

$primary: $green-400;