/* You can add global styles to this file, and also import other style files */
.required {
    color: red;
    font-weight: 600;
    font-size: 13px;
    display: inline-block;
    margin-top: 5px;
}